.app {
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.app__body {
    display: flex;
    flex: 1;
    overflow: scroll;
}

aside {
    position: fixed;
    top: 50px;
    height: calc(100vh - 50px);
    background: whitesmoke;
    border-right: solid 1px gainsboro;
}

.app__footer {
    display: flex;
    width: 100%;
}

.app__body {
    display: flex;
    flex: 1;
}
