.toolbar-button {
    display: flex;
    justify-content: center;
    padding: 0 1em 0 1em;
    flex-shrink: 0;
    align-items: center;
    cursor: pointer;
}

.toolbar-button--active {
    background-color: ghostwhite;
}

.toolbar-button--active:hover,
.toolbar-button:hover {
    background-color: gainsboro;
}
